[submodule ".llms/git-references/ai-elements"]
	path = .llms/git-references/ai-elements
	url = https://github.com/vercel/ai-elements.git
[submodule ".llms/git-references/shadcn-ui"]
	path = .llms/git-references/shadcn-ui
	url = https://github.com/shadcn-ui/ui.git
[submodule ".llms/git-references/convex-agent-component"]
	path = .llms/git-references/convex-agent-component
	url = https://github.com/get-convex/agent.git
[submodule ".llms/git-references/streamdown"]
	path = .llms/git-references/streamdown
	url = https://github.com/vercel/streamdown.git
[submodule ".llms/git-references/alchemy"]
	path = .llms/git-references/alchemy
	url = https://github.com/alchemy-run/alchemy.git
[submodule ".llms/git-references/t3-env"]
	path = .llms/git-references/t3-env
	url = https://github.com/t3-oss/t3-env.git
