# Dev container envs

CONTEXT7_API_KEY=

AGENT_BROWSER_PROVIDER=browserbase
BROWSERBASE_PROJECT_ID=
BROWSERBASE_API_KEY=

# Ralph loop setup
OPENCODE_ATTACH_URL=http://localhost:4096
RALPH_ALLOW_LOCAL_FALLBACK=0